/* .Hello{
  border: 2px solid red;
} */
/* 
.Hello2{
  border:2px solid blue
} */

.restaurant-image{
  height:250px;
}
.hi{
  background-color: black;
  color: "white";
}

.b {
  color: green;

}
.placeholder-restaurant-card{
  height:250px
}
.shimmer-card{
  border:none;
  width:250px
}
/* .form-control-lg{
  width:400px,
} */
.location-restaurant-wrapper{
  margin-top: 100px;
}