/* .Hello{
  border: 2px solid red;
} */
/* 
.Hello2{
  border:2px solid blue
} */

.restaurant-image{
  height:250px;
}
.hi{
  background-color: black;
  color: "white";
}

.b {
  color: green;

}
.placeholder-restaurant-card{
  height:250px
}
.shimmer-card{
  border:none;
  width:250px
}
/* .form-control-lg{
  width:400px,
} */
.location-restaurant-wrapper{
  margin-top: 100px;
}

#header{
  background-color: burlywood;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  position: fixed ;
  z-index: 1000;
  top: 0;
  width: 100%;
}

#veg{
  height:10px;
 width : 10px;
 border-radius: 5px;
 background-color: green;
}
#nonveg{
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: red;
}
.imts{
  height: 150px;
}
.dishes-size{
  height: 130px;

}